@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');


h1, h2, h3, h4, h5, h6, p {font-family: 'Poppins', 'prompt' !important;}

#header {position: absolute;}
#header.dark #mainMenu nav>ul>li>a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
section.banner {padding: 0;}
blockquote.blockquote-fancy {position: relative;}

.blockquote-fancy::before {
    color: rgb(115 115 115 / 19%);
    content: '"';
    display: block;
    font-size: 100px;
    left: 4px;
    position: absolute;
    top: 14px;
    font-family: Arial;
}
.inspiro-slider .slide-captions h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 85px;
    margin-bottom: 30px;
    color: #fff;
}
/*blockquote.blockquote-fancy h2 {color: #170d53;}*/
section.about p {font-size: 1.1rem;}
p.sub-detail {column-count: 2;}
#header #header-wrap #logo a>img {
    vertical-align: inherit;
    transition: all .4s ease-in-out;
    height: 60px;
    width: auto;
    /*filter: invert(1);*/
}
#header {
    width: 100%;
    z-index: 199!important;
    height: 60px;
    line-height: 60px;
}
.language a {color: #fff;font-family: 'Prompt';}
.language span.border {height: 100%;background: #fff;padding: 0.03rem;margin: 5px;}
.language a.active:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    background: #3a1dfe;
    padding: 5px;
    border-radius: 50px;
    margin-top: 18px;
    margin-left: -3px;
    z-index: -1;
}
.btn.btn-light:hover {background: #193eff;}
.btn.btn-light {color: #2f43fb;}
blockquote {border-left: 3px solid #2e42f9;font-size: 20px;margin-bottom: 0px;}
#header.header-transparent #header-wrap #logo {top: 10px !important;}
#header.header-sticky.sticky-active #header-wrap {
    /*background: #000329db !important;*/
    background: #000102d1 !important;
    /*background: #000000db !importan*/
    backdrop-filter: blur(9px);
}
h3.services-h {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 0px 0px 2px #2631b9;
}
p.services-detail {
    font-weight: 300;
}
a.read-more {
    font-size: 1rem;
    background: #3a1dfe;
    color: #fff;
    padding: 5px 20px;
    border-radius: 50px;
    float: right;
}
section.services .owl-carousel .owl-controls .owl-dots {display: none !important;}
#header.header-sticky.sticky-active #header-wrap .logo img {padding: 5px;}
#header.header-sticky.sticky-active #header-wrap #mainMenu nav>ul>li>a, 
#header.header-sticky.sticky-active #header-wrap a#top-search-trigger {
    color: #ffffff;
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
    background-color: #fff;
    border-color: var(--main-border-color);
    border: unset;
}
.owl-carousel .owl-nav [class*=owl-]:hover i, .owl-carousel.arrows-dark .owl-nav [class*=owl-] i, .owl-carousel.arrows-dark .owl-nav [class*=owl-]:hover i {
    color: #000;
}
h2.headtitle {
    font-size: 4rem;
}

/* Services */
section.services {padding: 0;}
h1.services-n {
    font-size: 4rem;
    margin: 0;
    font-weight: 500;
    text-shadow: 0px 5px 25px #2f13e9;
}
/*section.services .inner {padding: 50px;}*/
section.services .inner {
    /*padding: 50px;*/
    background: linear-gradient(270deg, #314BF5 -18.07%, #3a1dfe 104.2%);
}
h1.services-n, h3.services-h, p.services-detail {color: #fff;}
span.text-ef {
    font-size: 6rem;
    font-family: 'Prompt';
    color: #321be2;
    position: absolute;
    top: 5rem;
    z-index: -1;
}
a.read-more.services {
    background: #fff;
    border: 2px solid #3277f6;
    color: #080746;
    font-size: 0.8rem;
    padding: 2px 15px;
    box-shadow: 0px 5px 5px #3924fd;
    transition: all 0.2s;
    transform: translateY(70px);
    opacity: 0;
}
a.read-more.services:hover {
    background: #0d106b;
    color: #fff;
    /* border-color: #0b0e46; */
}
section.services .inner:hover a.read-more.services {
    transform: rotateY(0deg);
    opacity: 1;
}

.ser-deatil {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 50px;
}
/* Services */

/* Contace now */
/*.call-to-action.background-image {background-color: #00000045 !important;}*/
.call-to-action.background-image.p-t-80.p-b-80 {
    background-attachment: fixed;
}
.call-to-action.background-image.p-t-80.p-b-80:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #07060cd6;
}
.call-to-action h3 {
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 2rem;
}
.call-to-action p {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 100;
}
.btn.btn-light.btn-outline.active, .btn.btn-light.btn-outline:active, .btn.btn-light.btn-outline:focus, .btn.btn-light.btn-outline:hover {
    background-color: #2909ff;
    color: #ffffff;
    border-color: #3a1dfe;
    transform: scale(0.9);
}
.btn.btn-light.btn-outline {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 50px;
}

/* Portfolio */
a.read-more.port {
    float: unset;
    display: block;
    width: fit-content;
    margin-top: 2rem;
}
p.sup-detail {font-weight: 200;}
section.background-grey.portfolio h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
section.background-grey.portfolio {padding-bottom: 30px;}
/* Portfolio */

/* Footer */
footer {padding: 25px 0 40px 0;}
.img-logo img {
    width: 80%;
    margin: auto;
    display: block;
    filter: brightness(0);
}
a.gg-map {
    background: #000;
    color: #fff;
    font-family: 'Prompt';
    display: block;
    width: fit-content;
    padding: 8px 20px;
    /*margin: auto;*/
    margin-top: 2rem;
}
.copy-right {margin-top: 2rem;}
.copy-right p {
    font-size: 0.8rem;
    color: #838383;
    margin: 0;
    text-align: center;
}
.contact ul {padding: 0;list-style: none;margin: 0;}
.contact ul li i {background: #3a1dfe;color: #fff;font-size: 1.5rem;padding: 10px;border-radius: 50pc;}
.contact ul li a {font-size: 1.35rem;font-family: 'Prompt';color: #000;}
.contact ul li {margin-bottom: 1rem;}

ul.list-icon.list-icon-arrow li a {
    font-family: 'Prompt';
    color: #000;
}
.list-icon li {
    margin-bottom: 5px;
    margin-left: 30px;
}
.list-icon li:before {
    margin-left: -20px;
    position: absolute;
    font-family: fontawesome;
    font-size: 10px;
    margin-top: 1px;
}
.social-icons li a {border-radius: 50px;}
.social-icons:not(.social-icons-colored):not(.social-icons-colored-hover) li a:hover {
    background-color: #3a1dfe;
    color: #fff;
}
::selection {background: #3a1dfe;color: #fff;}
/* Footer */


/* About Page */

/*.page-about #header {position: unset;}*/
#header {height: 80px;line-height: 80px;}
.page-about #header.header-transparent #header-wrap, 
.page-about #header.header-transparent.dark #header-wrap,
.page-services #header.header-transparent #header-wrap,
.page-services #header.header-transparent.dark #header-wrap,
.page-portfolio #header.header-transparent #header-wrap, 
.page-portfolio #header.header-transparent.dark #header-wrap,
.page-news #header.header-transparent #header-wrap, 
.page-news #header.header-transparent.dark #header-wrap {
    background-color: #252525;
    border-bottom: 0;
}
.page-about section.subpage-content, 
.page-services section.subpage-content, 
.page-portfolio section.subpage-content,
.page-news section.subpage-content {
    margin-top: 100px;
    margin-bottom: 60px;
}

.language a.active:before {margin-top: 28px;}
.about-style-2 .blog-icons .box-icon-list:hover {background: #3a1dfe;}


.page-about footer, 
.page-services footer, 
.page-portfolio footer,
.page-news footer {
    background: #fbfbfb;
}
.contact-style-2 .box-inner-map iframe {
    float: left;
    width: 100%;
}

.about-style-1 .blog-icons .box-icon-list:hover {
    background: #3a1dfe !important;
    transform: scale(1.05);
}

.about-style-1 .blog-icons .box-icon-list {
    transition: all 0.2s;
}

.pagination-wrap .inner {
    border-top: 1px solid #ddd;
    text-align: center;
    display: inline-block;
    margin: auto;
    width: 100%;
    padding-top: 30px;
    margin-top: 60px;
}
.social-icons.social-icons-border li a {
    border: 1px solid #d7d7d7;
    background: transparent;
    color: #333;
}

.pagination .page-item:not(.disabled).active > .page-link, .pagination .page-item:not(.disabled):active > .page-link, .pagination .page-item:not(.disabled):focus > .page-link, .pagination .page-item:not(.disabled):hover > .page-link {
    background-color: #e4e6ef;
    border-color: #e4e6ef;
    color: #3c4043;
    box-shadow: none;
}
.pagination .page-item:not(.disabled) > .page-link {
    color: #3c4043;
    background-color: #fff;
    border-color: #e4e6ef;
}
.pagination-wrap .pagination {
    display: inline-block;
}
p.text-md.font-weight-600 {
    font-size: 5rem;
}

/* Subpage */
section.subpage {margin-top: 15px;padding-bottom: 0px;}
section.subpage-content {
    padding: 20px 0px;
}
.page-subpage #header.header-transparent #header-wrap, .page-subpage #header.header-transparent.dark #header-wrap {
    background-color: #232323;
    border-bottom: 0;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12.title h2 {display: none;}
.sys-breadcrumb .breadcrumb {
    background: transparent;
    border-bottom-color: unset;
    border: unset;
    padding-bottom: 8px;
    margin-top: 10px;
    font-family: 'Prompt';
}
.page-subpage footer {background: #fbfbfb;}
.about-style-1 .blog-icons .box-icon-list img {
    width: 48px;
    height: 48px;
}
.about-style-1 .blog-quote .blog-quote-icon {height: auto;}
.col-xs-12.col-sm-4.col-md-12.col-lg-12.mdate.secondary-text.text-left-xs.text-right-sm.text-right-md.text-right-lg {
    display: none;
}
.col-xs-12.col-sm-6.col-md-6.col-lg-6.social-share {
    display: none;
}
.col-xs-6.col-sm-6.col-md-6.col-lg-6.viewed.secondary-text.text-right-xs.text-right-sm.text-right-md.text-right-lg {
    display: none;
}
section.subpage hr {display: none;}
.content {margin-bottom: 0px;}
.article-list .article-detail .htitle {color: #fff;}
.liner-bottom:before {
    background: #fff;
}
.article-list .article-detail small {
    margin: 5px 0;
    display: block;
    color: #fff;
    background: #00000059;
    width: fit-content;
    padding: 2px 9px;
    border-radius: 50px;
}

.col-xs-12.col-sm-12.col-md-6.blog-intro.cRight img {width: 100%;height: 100%;}
.about-style-2 .blog-icons {padding: 80px 0 80px 0;}
.dec-line-vertical {background: #3a1dfe;}

.col-xs-12.col-sm-12.col-md-12.headtitle-bar h2 {
    background: #3a1dfe;
    width: fit-content;
    color: #ffff;
}
.text-color {
    color: #3a1dfe;
}
h2.h-title {
    background: #3a1dfe;
    width: fit-content;
    color: #fff;
    padding: 0px 5px;
}
.article-list {padding: 0 9px;}

.about-style-1 .blog-icons .box-icon-list {
    display: inline-block;
    padding: 50px 50px;
    box-shadow: 0 14px 10px rgb(221 221 221 / 42%);
    border-radius: 6px;
    width: 30%;
    margin: 1%;
    /*text-align: center;*/
    border: 2px solid #6f6f6f26;
}
.about-style-1 .blog-icons ul {
    display: inline-block;
    width: 100%;
    text-align: left;
}
.liner-bottom.lnLeft:before {
    right: initial;
    left: 0;
}
.about-style-1 .blog-icons .cRight {
    padding: 0px 0px;
    text-align: left;
}
.about-style-1 .blog-icons {
    padding: 0px 0;
    text-align: center;
}
.about-style-1 .blog-icons .box-icon-list .htitle {
    margin: 30px 0 10px 0;
    /*color: #3a1dfe;*/
    color: #000000;
    font-size: 1.4rem;
}
.liner-bottom.lnLeft:before {display: none;}
.col-xs-12.col-sm-12.col-md-12.blog-quote p {
    text-align: center;
    font-weight: 300;
}
.blockquote.blockquote-fancy.m-b-40 p.text-md.font-weight-600 {
    text-align: center;
    line-height: 5.5rem;
}
h1.services-n.p-ser {
    color: #3a1dfe;
    text-shadow: unset;
    margin-bottom: 10px !important;
}
.about-style-1 .blog-icons .box-icon-list:hover h1.services-n.p-ser {
    color: #fff;
}
.about-style-1 .blog-quote .blog-quote-icon {
    position: absolute;
    top: 18%;
    right: 8%;
    width: 120px;
}
.social-icons.social-icons-border li span {display: none;}
.article-detail-style-1 .date-item span {font-family: 'Poppins';}
div#page-15770 {
    float: unset;
    padding: 0;
}


@media (min-width: 1500px) and (max-width: 1920px){
    .ser-deatil {padding: 90px;}
}