.liner-bottom{ 
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 40px !Important;
}
.liner-bottom:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background: #333;
	left: -20%;
	bottom: 0;
}
.liner-bottom.lnLeft:before{
	right: initial;
	left: -20%;
}
.liner-bottom.lnRight:before{
	left: initial;
	right: -20%;
}
.liner-bottom.lnCenter:before{
	left: 0;
	right: 0;
	margin: auto;
	width: 30%;
}
.liner-side{ 
	position: relative; 
	display: inline-block;
}
.liner-side span{ 
	position: relative;
	display: inline-block; 
	background: #fff;
	padding: 0 8px;
	z-index: 2;
}
.liner-side span:before{
	position: absolute;
	content: "";
	height: 2px;
	right: 100%;
	z-index: 1;
}
.liner-side span:after{
	position: absolute;
	content: "";
	height: 2px;
	left: 100%;
	z-index: 1;
}
.liner-side span:before, 
.liner-side span:after{
	top: 12px;
	width: 40px;
	background: #cdcdcd;
}
.liner-side.liner-side-left span{padding-right: 0;}
.liner-side.liner-side-right span{ padding-left: 0; }
.liner-side.liner-side-left span:after{ display: none; }
.liner-side.liner-side-right span:before{ display: none; }


.pagination-wrap{
	display: inline-block;
	width: 100%;
	float: none;
	text-align: center;
}
.pagination-wrap .inner{
	border-top: 1px solid #ddd;
	text-align: center;
	display: inline-block;
	margin: auto;
	width: 100%;
	padding-top: 60px;
	margin-top: 60px;
}
.pagination-wrap .pagination li{ 
	float: left;
	display: inline-block;
}
.pagination-wrap .pagination{
	display: inline-block;
}

.gallery-detail-style-1 .headtitle-bar{ position: relative; }
.gallery-detail-style-1 .headtitle-bar .htitle{ max-width: 80%; }
.gallery-detail-style-1 .headtitle-bar p{ max-width: 500px; float: left;}
.gallery-detail-style-1 .headtitle-bar .social-icons{ float: right; }
.gallery-detail-style-1 .headtitle-bar .date-item{
	position: absolute;
	top: 10px;
	right: 20px;
}
.gallery-detail-style-1 .grid-item{ padding-bottom: 0; }
.gallery-detail-style-1 .gallery-item{ margin-bottom: 20px; padding: 0 10px;}
.gallery-detail-style-1 .gallery-row{
	display: inline-block;
	width: 100%;
}
.gallery-detail-style-1 .wrap-gallery{ padding: 0 5px; }

